@model IEnumerable<uBlog.Data.BlogPost>
@{

}

@if(Model != null && Model.Count() > 0)
{
    @foreach (var blogPost in Model)
    {
        <article>
            <div class="row">
                <div class="col-md-1" hidden-xs hidden-sm>
                    <h1 class="post-date-day">21</h1>
                    MAY
                </div>
                <div class="col-md-11">

                    <h4 class="">
                        <a href="" title="145 Read(s), 1 Comment(s)">@blogPost.Title</a>
                    </h4>
                    <p class="post-summary-text">
                        这几天我用树莓派实现了一个模仿车库遥控门的设备，分享给大家。（优酷视频&nbsp;http://v.youku.com/v_show/id_XMTU3ODk1NDY2OA==.html&nbsp;)
                        &nbsp;
                        一、遥控模块
                        首先介绍一下我用的遥控器和接收板，这种遥控模块在中国随处可以买到，基本都是长这样的。很多卷帘门、车库门都是用这种遥控模块的。做无线电实验购买的是非锁的版本，注意最好同时购买天线。天线用的是50欧姆单芯导线，其实就是个铜丝，注意购买时候要看好频率，中国大陆的无线电许可频率是315MHz，国外也有用443MHz的，我买的遥控器是315MHz。注意遥控器发射频率和接收频率要匹配就行。遥控接收端芯片是...
                    </p>
                    <ul class="tags">
                        <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                        <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                        <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                    </ul>
                </div>
            </div>
        </article>
        <hr />

    }

}
else
{
    <span>没有博客</span>

}
