@using MarkdownSharp
@model IEnumerable<uBlog.Data.BlogPost>
@{
    Markdown markdown = new Markdown();
}

@if(Model != null && Model.Count() > 0)
{
    @foreach (var blogPost in Model)
    {
        <article>
            <div class="row">
                <div class="col-md-1" hidden-xs hidden-sm>
                    <h1 class="post-date-day">21</h1>
                    MAY
                </div>
                <div class="col-md-11">

                    <h4 class="">
                        <a href="" title="145 Read(s), 1 Comment(s)">@blogPost.Title</a>
                    </h4>
                    <section>
                        @Html.Raw(markdown.Transform(blogPost.Content))
                    </section>
                    <ul class="tags">
                        <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                        <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                        <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                    </ul>
                </div>
            </div>
        </article>
        <hr />

    }

}
else
{
    <span>没有博客</span>

}
