@using MarkdownSharp
@model IEnumerable<uBlog.Data.BlogPost>
@{
    Markdown markdown = new Markdown();
}

@if(Model != null && Model.Count() > 0)
{
    @foreach (var blogPost in Model)
    {
        <article>
            <div class="blogpost-info">
                <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;2016.07.10 16:53</p>
            </div>
            <h4 class="">
                <a href="" title="145 Read(s), 1 Comment(s)">@blogPost.Title</a>
            </h4>
            <section>
                @Html.Raw(markdown.Transform(blogPost.Content))
            </section>
            <ul class="tags">
                <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
                <li class="tag-item"><a class="tag-link" href="#">Windows 10</a></li>
            </ul>
        </article>
        <hr />

    }

}
else
{
    <span>没有博客</span>

}
