
body{
    color: #2f2f2f;
    font-family: "Microsoft YaHei","Segoe UI","Arial","Verdana","Tahoma";
}
a, a:link, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #1C2541;

}

.navbar{
    color:#fff;
    background-color: #3A506B;
    border-radius:0;
    padding:0;
}

.navbar a{
    color:#fff;
}


.navbar .navbar-nav>.active>a,
.navbar .navbar-nav a:hover,
.navbar .navbar-nav a:focus {
    background-color: #5BC0BE;

}


#ublog-logo{
    font-size:26px;
    line-height:36px;
}

@media (min-width: 768px){
    .navbar .navbar-nav>li>a {
        padding: 10px 20px;
        color: #fff;
    }
}


.navbar-nav .nav-item + .nav-item {
    margin-left: 0;
}

#header{
    margin-bottom:2rem;
}

.post-date-day {
    margin: 0;
    font-size: 48px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Microsoft YaHei UI","Microsoft YaHei","Arial","Verdana","Tahoma";
    font-weight: 500;
    color: #1C2541;
}

.post-summary-text {
    line-height: 1.7;
    text-align: justify;
}




.btn{
    border-radius:0;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified>.btn{
    display: table-cell;
    float: none;
    width: 1%;
}

.media, .sidebar-aboutme, .search-container{
    margin-bottom:20px;
}

.form-control{
    border-radius:0;
}

.tags{
    list-style-type: none;
    padding-left:0;
}

.tags .tag-item{
    display:inline-flex;
    margin-bottom:10px;
    margin-right:10px;
}

.tags .tag-item .tag-link{
    background-color: #3A506B;
    color:#fff;
    padding: 5px;
}
.tags .tag-item a.tag-link:hover {
    background-color: #5BC0BE;
}



